<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DITEK LIBRARY</title>
    <link rel="icon" href="../static/img/books.png">
    <link rel="stylesheet" href="../static/css/sign.css">
</head>

<body>
        <div class="page">
            <form class="Signup-page">
                <h1 id="DITEK"><strong>D</strong><img class="pencil" src="../static/img/pencil2.png" alt="pencil"><strong>TEK</strong>
                    <img class="Books" src="../static/img/books3.png" alt="books">
                </h2>
                <p id="signup">SIGN-UP</p>
                <h4>Create your account</h4>
                <div class="icon-user">
                    <input type="text" name="Username" id="Username" placeholder="Username">
                    <img src="user3.png" alt="UserLogo" class="icon">
            </div>
            <div class="password-logo">
                <input type="password" name="Password" id="Password" placeholder= "Password">
                <img src="../static/img/padlock4.png" alt="PadlockLogo" class="paddy">
            </div>
                <p class="confirm">Confirm your password</p>
            <div class="confirm-password">
                <input type="password" name="Password" id="Password" placeholder= "Password">
                <img src="../static/img/padlock3.png" alt="ConfirmPadlockLogo" class="padlock">
            </div>
                <button type="button" name="signinButton" id="signinButton" input type="reset"><a href="#" id="NextPage">sign-in</a></button>
               
            </form>
        </div>
</body>
<footer></footer>
</body>
</html>